table{
  border-collapse: collapse;
  border: 1px solid black;
}
td {
  width: 64px;
  height: 64px;
  border: 1px solid black;
  text-align: center;
  vertical-align: center;
  font-family: monospace;
  font-size: 16px
}
.pixel-index{
  font-size: 12px;
  text-align-last: end;
  padding-right: 4px;
  color: gray;
}
